/* 
    General Styles
*/
.navbar-style {
    background-color: #5a5a5a !important;
}
.ContactButton {
    margin-left: 1280px !important;
    margin-bottom: 15px;
    margin-top: -1px;
}

ul li {
    list-style: none;
    border: 1px solid rgb(218, 218, 218);
    padding: 5px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-top: -1px;
    background-color: white;
}
li {
    display: flex;
}
img {
    margin-left: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 40px;
}
ul li p {
    margin-top: 0px;
    margin-bottom: 0px !important;
    color: rgb(129, 128, 128);
}
.contact-text {
   margin-top: 5px;
}
.FaIcon {
    margin-right: 10px;
}
.Pencil {
    margin-left: auto;
    margin-right: 40px;
    margin-top: 6px;
}
.TrashCan {
    margin-top: 6px;
    margin-right: 40px;
}
.Header {
    text-align: center;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle text outline */
    margin-bottom: 20px; 
    -webkit-text-stroke: .5px rgb(0, 0, 0); /* White text stroke for WebKit browsers */
    text-stroke: .5px rgb(0, 0, 0); /* White text stroke for other browsers */

}
{
    background-color: #ececec;
}
body {
    background-color: #f3f3f3;
}
form {
    background-color: white;
    padding: 4px;
    border-radius: 5px;
}